body {
    background-color: aliceblue
}

.btn {
    background-color: #4d4d4d;
    border: none;
    color: pink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width:  90px;
    min-height: 50px;
}

.btn-disabled{
    background-color: #808080;
    color: rgb(0, 0, 0);
}
.divClass{
    margin: 3px;
}
#inputShowScore {
    border: none;
    border-bottom: pink solid 1px;
}
.btn:hover {
    background-color: pink;
    color: black;
}
#inputShowScore:focus {
    outline: none;
}